@import url("../../index.css");


.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 50px;
}

.homePage > button:hover {
    cursor: pointer;
}

