@import url("../../index.css");


.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 50px;
}

.msmSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-width: 500px;
    gap: 50px;
    border: 1px solid var(--primaryColor);
    padding: 20px;
    border-radius: 1rem;
}   

.msmForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

.msmName {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.msmName > i:hover {
    cursor: pointer;
    color: var(--gray);
    transition: all 0.2s;
}