
.sampleMap {
  /* width: 500px; */
  overflow: hidden;
  position: absolute;
  height: fit-content;
}

.holder-SampleMap {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    /* background-color: rgb(18, 18, 18); */
    padding: 15px;
    /* border: 2px solid black; */
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0.5rem;
}

.frame {
    /* background-color: rgba(255, 0, 0, 0.2); */
    /* background-color: rgb(255, 255, 255); */
    background-color: transparent;
  border: 0.5px solid rgba(0, 0, 0, 0.8);
  padding: 6px;
  font-size: 5px;
  text-align: center;
  border-radius: 0.1rem;
  transition: all 0.2s;
  height: 5px;
}

.frame:hover {
  cursor: pointer;
  transform: scale(1.5);
  /* background-color: #1DA0A5; */
}